{
    "elasticsearch": "{{ elasticsearch_url }}",
    "run_index": "{{ run_index }}",
    "iteration_index": "{{ iteration_index }}",
    "sample_index": "{{ sample_index }}",
    "metric_index": "{{ metric_index }}"
}
